* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container-style {
  background-color: white;
  border-radius: 15px;
  display: flex;
  filter: drop-shadow(10px 10px 7px #69696948);
  flex-direction: column;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.home-button {
  background-color: #ec3232;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 8px 0;
  padding: 14px 20px;
  width: 100%;
  font-size: 16px;
}

.home-button:hover {
  background-color: #ec3232;
  opacity: 0.8;
}

.home-button a {
  color: white;
  text-decoration: none;
}
